@model ViewModel;
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>menu</title>
    @await Html.PartialAsync("csspartial" )
    <link rel="stylesheet" href="\wwwroot\css\style.css">
</head>


    <div class="menu_m">
      <div class="heading_m">
         <h3>&mdash; МЕНЮ &mdash;</h3>
      </div>
    </div>
      <!-- soup -->
      <h2>Блюда</h2>
      <div class="soup">
          @foreach(var item in Model.Menu){
         <div class="food-items">
            <img src="@item.Link" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>@item.NameOfFood</h5>
                  <h5 class="price">@item.Price руб</h5>
                  <h5 class="massa">@item.Grams гр</h5>
               </div>
               <p>@item.Ingredient.IndredientForFood</p>
            </div>
         </div>
         }
      </div>
      <h2>Напитки</h2>

      

      <div class="button_m">
         <a asp-action="Order" class="btn_m">Заказать</a>
      </div>



        