@model ViewModel;
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>menu</title>
    @await Html.PartialAsync("csspartial" )
    <link rel="stylesheet" href="\wwwroot\css\style.css">
</head>


    <div class="menu_m">
      <div class="heading_m">
         <h3>&mdash; МЕНЮ &mdash;</h3>
      </div>
    </div>
      <!-- soup -->
      <h2>Блюда</h2>
      <div class="soup">
          @foreach(var item in Model.Menu){
         <div class="food-items">
            <img src="@item.Link" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>@item.NameOfFood</h5>
                  <h5 class="price">@item.Price руб</h5>
                  <h5 class="massa">@item.Grams гр</h5>
               </div>
               <p>@item.Ingredient.IndredientForFood</p>
            </div>
         </div>
         }
      </div>
      <h2>Напитки</h2>
       <div class="soup">
          @foreach(var item in Model.Drinks){
         <div class="food-items">
            <img src="@item.Link" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>@item.Name_Of_Drink</h5>
                  <h5 class="price">@item.Price руб</h5>
                  <h5 class="massa">@item.Liters мл</h5>
               </div>
            </div>
         </div>
         }
      </div>

      <div class="button_m">
         <a asp-action="Order" class="btn_m">Заказать</a>
      </div>



      @*   <div class="food-items">
            <img src="~/img/мисо суп с креветками.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название2</h5>
                  <h5 class="price">price2</h5>
                  <h5 class="massa">гр2</h5>
               </div>
               <p>description2</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/мисо суп с тофу и водорослями.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название3</h5>
                  <h5 class="price">price3</h5>
                  <h5 class="massa">гр3</h5>
               </div>
               <p>description3</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/рамен острый со свининой.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название4</h5>
                  <h5 class="price">price4</h5>
                  <h5 class="massa">гр4</h5>
               </div>
               <p>description4</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/лапша удон с креветками.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название5</h5>
                  <h5 class="price">price5</h5>
                  <h5 class="massa">гр5</h5>
               </div>
               <p>description5</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/рамен4 с курицей танкацу.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название6</h5>
                  <h5 class="price">price6</h5>
                  <h5 class="massa">гр6</h5>
               </div>
               <p>description6</p>
            </div>
         </div>
      </div>

      <!-- gedza -->
      <h2>Гёдза</h2>
      <div class="gedza">
         <div class="food-items">
            <img src="~/img/гедза со свининой.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название7</h5>
                  <h5 class="price">price7</h5>
                  <h5 class="massa">гр7</h5>
               </div>
               <p>description7</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/гедза с морепродуктами.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название8</h5>
                  <h5 class="price">price8</h5>
                  <h5 class="massa">гр8</h5>
               </div>
               <p>description8</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/гедза с креветками.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название9</h5>
                  <h5 class="price">price9</h5>
                  <h5 class="massa">гр9</h5>
               </div>
               <p>description9</p>
            </div>
         </div>



         <div class="food-items">
            <img src="~/img/гунканы2.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название12</h5>
                  <h5 class="price">price12</h5>
                  <h5 class="massa">гр12</h5>
               </div>
               <p>description12</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/гункан томаты.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название13</h5>
                  <h5 class="price">price13</h5>
                  <h5 class="massa">гр13</h5>
               </div>
               <p>description13</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/гункан водоросли.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название14</h5>
                  <h5 class="price">price14</h5>
                  <h5 class="massa">гр14</h5>
               </div>
               <p>description14</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/гункан грибы шимиджи.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название15</h5>
                  <h5 class="price">price15</h5>
                  <h5 class="massa">гр15</h5>
               </div>
               <p>description15</p>
            </div>
         </div>
      </div>

      <!-- rolls -->
      <h2>Роллы</h2>
      <div class="rolls">
         <div class="food-items">
            <img src="~/img/роллы1.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название16</h5>
                  <h5 class="price">price16</h5>
                  <h5 class="massa">гр16</h5>
               </div>
               <p>description16</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/роллы2.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название17</h5>
                  <h5 class="price">price17</h5>
                  <h5 class="massa">г17</h5>
               </div>
               <p>description17</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/роллы3.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название18</h5>
                  <h5 class="price">price18</h5>
                  <h5 class="massa">гр18</h5>
               </div>
               <p>description18</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/роллы4.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название19</h5>
                  <h5 class="price">price19</h5>
                  <h5 class="massa">гр19</h5>
               </div>
               <p>description19</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/роллы5.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название20</h5>
                  <h5 class="price">price20</h5>
                  <h5 class="massa">гр20</h5>
               </div>
               <p>description20</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/роллы6.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название21</h5>
                  <h5 class="price">price21</h5>
                  <h5 class="massa">гр21</h5>
               </div>
               <p>description21</p>
            </div>
         </div>
      </div>

      <!-- desserts -->
      <h2>Десерты</h2>
      <div class="desserts">
         <div class="food-items">
            <img src="~/img/mochi.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название22</h5>
                  <h5 class="price">price22</h5>
                  <h5 class="massa">гр22</h5>
               </div>
               <p>description22</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/тайяки.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название23</h5>
                  <h5 class="price">price23</h5>
                  <h5 class="massa">гр23</h5>
               </div>
               <p>description23</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/dango.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название24</h5>
                  <h5 class="price">price24</h5>
                  <h5 class="massa">гр24</h5>
               </div>
               <p>description24</p>
            </div>
         </div>

         <div class="food-items">
            <img src="~/img/namagashi.jpg" width=500px>
            <div class="details">
               <div class="details-sub">
                  <h5>название25</h5>
                  <h5 class="price">price25</h5>
                  <h5 class="massa">гр25</h5>
               </div>
               <p>description25</p>
            </div>
         </div>
      </div>

     <!-- drinks -->
     <h2>Напитки</h2>
   



   </div>
*@
     @* <div class="card">
      <form asp-action="Create" asp-controler="Order" method="post">
         <input type="number" class="card-numberofdish" placeholder="Введите номер блюда">
         <input type="number" class="card-numberofdish" placeholder="Введите номер напитка">
         <input type="submit" value="Рассчитать">
      </form>
      <input type="number" value="950" readonly class="cost1">
      <input type="number" value="150" readonly class="cost2">
      <form asp-action="totalmenu">
         <input type="text" class="card-totalcost" readonly>
         <input type="submit" value="Заказать">
      </form>
   </div>
@*    <div class="container">
      <div class="col-lg-12">
         <h2 class="delever">Доставка</h2>
      </div>

      <div class="delever_window reviews">
         <form asp-action="Create" asp-controller="Order" asp-antiforgery="true">
            <div class="window">
               <label asp-for="Name">Имя:</label>
               <input type="text" class="text_d" id="comment_name" placeholder="Введите ваше имя">
            </div>
            <div class="window">
               <label asp-for="Lastname">Фамилия:</label>
               <input type="text" class="text_d" id="comment_surname" placeholder="Введите вашу фамилию">
            </div>
            <div class="window">
               <label asp-for="NameOfFood">Название блюда:</label>
               <input type="text" class="text_d" id="comment_dish" placeholder="Введите название блюда">
            </div>
            <div class="window">
               <label asp-for="NameOfDrink">Название напитка:</label>
               <input type="text" class="text_d" id="comment_drink" placeholder="Введите название напитка">
            </div>
            <div class="body_button">
               <button type="submit" id="comment_add" class="button_hola"><span>Отправить заказ</span></button>
            </div>
         </form>
      </div>
   </div>*@

   @*<div class="delever_window">
         <form asp-action="Create" asp-controller="Order">
            <div class="window">
               <label for="Name">Имя:</label>
               <input type="text" class="text_d" name="Name" placeholder="Введите ваше имя">
            </div>
            <div class="window">
               <label for="Lastname">Фамилия:</label>
               <input type="text" class="text_d" name="Surname" placeholder="Введите вашу фамилию">
            </div>
            <div class="window">
               <label for="Adress">Адрес:</label>
               <input type="text" class="text_d" name="Adress" placeholder="Введите ваш адрес">
            </div>
            <div class="window">
               <label for="NameOfFood">Название блюда:</label>
               <input type="text" class="text_d" name="NameOfFood" placeholder="Введите название блюда">
            </div>
            <div class="window">
               <label for="NameOfDrink">Название напитка:</label>
               <input type="text" class="text_d" name="NameOfDrink" placeholder="Введите название напитка">
            </div>
            <div class="body_button">
               <input type="submit" name="comment_add" class="button_hola"><span>Отправить заказ</span></input>
            </div>
         </form>
      </div>*@

       @*<section class="creation" id="contacts">
        <div class="container">
            <h2 class="creation-title">Создатели</h2>
            <div class="creation-wrapper">
                <div class="row">
                    @foreach (var creators in Model.Creators)
                    {
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="creation-card">
                                <h3 class="creation-card__name">@creators.Lastname @creators.Name</h3>
                                <p class="creatin-card__link">Ссылка на соцсеть: <span>@creators.Link</span></p>
                            </div>
                        </div>                      
                    }
                </div>
            </div>
        </div>
    </section>*@
  
