@model ViewModel;

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Наша команда</title>
    @await Html.PartialAsync("csspartial" )
</head>
<body>
    <div class="backgr">
        <div class="container-sotr">
            <h2 class="heading1">-Наши сотрудники-</h2>
            <div class="mainpovar dispflex">
                <div class="card one">
                    <div class="photopovora">
                        <img id="photo1" src="/img/chef.jpg" alt="Povar1"></div>
                    <div class="fio">
                         @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Виктор" && item.Lastname == "Баринов" && item.Profession == "Шеф-повар")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="dvapovara dispflex">
                <div class="card two">
                    <div class="photopovora">
                        <img id="photo2" src="/img/cook1.jpg" alt="Povar2">
                    </div>
                    <div class="fio">
                         @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Максим" && item.Lastname == "Лавров" && item.Profession == "Су-шеф")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
                <div class="card three">
                    <div class="photopovora">
                        <img id="photo3" src="/img/cook2.jpg" alt="Povar3">
                    </div>
                    <div class="fio">
                         @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Федор" && item.Lastname == "Богатырев" && item.Profession == "Повар")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="tripovora dispflex">
                <div class="card four">
                    <div class="photopovora">
                        <img id="photo4" src="/img/cook3.jpg" alt="Povar4">
                    </div>
                    <div class="fio">
                        @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Сергей" && item.Lastname == "Лавыгин" && item.Profession == "Кондитер")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
                <div class="card five">
                    <div class="photopovora">
                        <img id="photo5" src="/img/barman.jpg" alt="Barman">
                    </div>
                    <div class="fio">
                         @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Павел" && item.Lastname == "Анисимов" && item.Profession == "Бармен")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
                <div class="card six">
                    <div class="photopovora">
                        <img id="photo6" src="/img/admin.jpg" alt="Admin">
                    </div>
                    <div class="fio">
                        @foreach(var item in Model.Cafe_Staffs)
                        {
                            @if(item.Name == "Виктория" && item.Lastname == "Гончарова" && item.Profession == "Админиcтратор")
                            {
                                <h3 class="namepovar">@item.Name @item.Lastname</h3>
                                <h4 class="position">@item.Profession</h4>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>